  <table class="table table-bordered" id="my_table" style="width: 100%;">
    <thead>
      <tr>
        <th style="width: 10%; text-align: right">Learning Objective</th>
        <th>wk 1</th>
        <th>wk 2</th>
        <th>wk 3</th>
        <th>wk 4</th>
        <th>wk 5</th>
        <th>wk 6</th>
        <th style="width: 10%;">Charted</th>
      </tr>
    </thead>
    <% surv.n_questions.times do |x| %>
      <tbody>
        <tr>
            <td style="text-align: right; height: 15%;">
                <%= surv.question(x-1).text %>:
            </td>
            <% vec = surv.question_response_stats(x-1) %>
            <% vec.each do |stats| %>
              <td>
                <% if !stats.is_valid %>
                  n/a
                <% else %>
                  <%= stats.average %> 
                  <br/>
                  count: <%= stats.count %>
                  <br/>
                  range: <%= stats.minimum%>..<%= stats.maximum %>
                  <br/>
                  <%= stats.ge_3_percent %> >= 3 (<%= stats.ge3 %>)
                <% end %>

              </td>
            <% end %> 

            <td style="padding: 5px; margin: 0px">
                <span class="inlinesparkline">
                    <%= surv.question_response_avg_vector(x-1).join(", ") %>
                </span>
            </td>
        </tr>
      </tbody>
    <% end %>
  </table>
  