<%= File.open("_metricalc_html_header.html.erb") { |f| f.read } %> 
<body>
  <% require "./metricalc" %>
  <% surv = SurveyData.new %>
  <% inp = InputData.new %> 
  <% inp.read "/mydev/metricalc/data/week7file.csv", surv %>
  <% surv.process %>

  <div class="container">
  <h1>Overall results of the COSI JBS 2012 survey</h1>
  <p>Every week each student was asked to fill out a standard questionaire. Questions were added during the course, but no questions were changed or deleted. The goal was to see if our teaching was effective and our learning objectives were being achieved.
  
  <h2>Summary</h2>
  <ul>
      <li>Weeks surveyed so far: <%= surv.n_weeks %> </li>
      <li>Number of students: <%= surv.n_students %> </li>
  </ul>
  <h2>Questions summary:</h2>
  <p>All questions have the following possible responses:</p>
  <ul>
      <% Response.resp_choices_n.times do |i| %>
          <li><%= Response.choice2string(i)%>  <strong>(<%= i %>)</strong></li>
      <% end %>
  </ul>
  <h1>Results Summary</h1>
  <p>
  Each topic below is followed by a sparkline indicating how the rating for that quesion changes from week to week in the class
  </p>

  <table class="table table-bordered" id="my_table" style="width: 100%;">
    <thead>
      <tr>
        <th style="width: 10%; text-align: right">Learning Objective</th>
        <th>wk 1</th>
        <th>wk 2</th>
        <th>wk 3</th>
        <th>wk 4</th>
        <th>wk 5</th>
        <th>wk 6</th>
        <th>wk 7</th>
        <th style="width: 10%;">Charted</th>
      </tr>
    </thead>
    <% surv.n_questions.times do |x| %>
      <tbody>
        <tr>
            <td style="text-align: right; height: 15%;">
                <%= surv.question(x-1).text %>:
            </td>
            <% vec = surv.question_response_stats(x-1) %>
            <% vec.each do |stats| %>
              <td>
                <% if !stats.is_valid %>
                  n/a
                <% else %>
                  <%= stats.average_string %> 
                  <br/>
                  count: <%= stats.count %>
                  <br/>
                  range: <%= stats.minimum%>..<%= stats.maximum %>
                  <br/>
                  <%= stats.ge_3_percent_string %> >= 3 (<%= stats.ge3 %>)
                  <br/>
                  <%= stats.ge_4_percent_string %> = 4 (<%= stats.ge4 %>)
                  
                <% end %>

              </td>
            <% end %> 

            <td style="padding: 5px; margin: 0px">
                <span class="inlinesparkline">
                    <%= surv.question_response_avg_vector(x-1).join(", ") %>
                </span>
            </td>
        </tr>
      </tbody>
    <% end %>
  </table>

  <h1>Percent understanding at different levels</h1>
  <p>This section shows a pie chart for each week and each question. The first segment of the pie chart shows the percentage of students who self-assessed themselves as knowing the topic at a level of at least 2 (I feel I understand it) and teh second segment at a level of at least 3 ( I am able to use it and apply it.)</p>

    <table class="table table-bordered" id="my_table" style="width: 100%;">
    <thead>
      <tr>
        <th style="width: 10%; text-align: right">Learning Objective</th>
        <th>wk 1</th>
        <th>wk 2</th>
        <th>wk 3</th>
        <th>wk 4</th>
        <th>wk 5</th>
        <th>wk 6</th>
        <th>wk 7</th>
      </tr>
    </thead>
    <% surv.n_questions.times do |x| %>
      <tbody>
        <tr>
            <td style="text-align: right; height: 15%;">
                <%= surv.question(x-1).text %>:
            </td>
            <% vec = surv.question_response_stats(x-1) %>
            <% vec.each do |stats| %>
              <td>
                <% if stats.is_valid %>
                  <span class="sparkpie"><%= stats.pie_string %></span>
                  <div><%= stats.brief_summary %></div>
                <% end %>
              </td>
            <% end %> 

        </tr>
      </tbody>
    <% end %>
  </table>

  


</body>
</html>
