<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JBS 2012 Report</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <link href="bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
  <link href="bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="../bootstrap/docs/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png">

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="jquery/jquery.sparkline.min.js"></script>

  <script type="text/javascript">
    $(function() {
        /** This code runs when everything has been loaded on the page */
        /* Inline sparklines take their values from the contents of the tag */
        $('.inlinesparkline').sparkline('html', {type: 'line',
                    width: '60',
                    lineColor: '#ff5656',
                    chartRangeMin: 0,
                    chartRangeMax: 5,
                    chartRangeMinX: 0});

        /* Sparklines can also take their values from the first argument 
        passed to the sparkline() function */
        var myvalues = [10,8,5,7,4,4,1];
        $('.dynamicsparkline').sparkline(myvalues);

        /* The second argument gives options such as chart type */
        $('.dynamicbar').sparkline(myvalues, {type: 'bar', barColor: 'green'} );

        /* Use 'html' instead of an array of values to pass options 
        to a sparkline with data in the tag */
        $('.inlinebar').sparkline('html', {type: 'bar', barColor: 'red'} );
    });
  </script>

    <link href="css/basic.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="http://filamentgroup.github.com/EnhanceJS/enhance.js"></script> 
  <script type="text/javascript">
    // Run capabilities test
    enhance({
      loadScripts: [
        {src: 'js/excanvas.js', iecondition: 'all'},
        'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js',
        'js/visualize.jQuery.js',
        'js/example.js'
      ],
      loadStyles: [
        'css/visualize.css',
        'css/visualize-dark.css'
      ] 
    });   
    </script>


</head>

<body>
  <% require "./metricalc" %>
  <% surv = SurveyData.new %>
  <% inp = InputData.new %> 
  <% inp.read "/mydev/metricalc/data/weekly5file.csv", surv %>
  <% surv.process %>

  <div class="container">
  <h1>Overall results of the COSI JBS 2012 survey</h1>
  <p>Every week each student was asked to fill out a standard questionaire. Questions were added during the course, but no questions were changed or deleted. The goal was to see if our teaching was effective and our learning objectives were being achieved.
  
  <h2>Summary</h2>
  <ul>
      <li>Weeks surveyed so far: <%= surv.n_weeks %> </li>
      <li>Number of students: <%= surv.n_students %> </li>
  </ul>
  <h2>Questions summary:</h2>
  <p>All questions have the following possible responses:</p>
  <ol>
      <% Response.resp_choices_n.times do |i| %>
          <li><%= Response.choice2string(i)%></li>
      <% end %>
  </ol>
  <h2>Results Summary</h2>
  <p>
  Each topic below is followed by a sparkline indicating how the rating for that quesion changes from week to week in the class
  </p>

  <table class="table table-bordered" id="my_table" style="width: 65%;">
    <caption>Results of Survey for each Learning Objective</caption>
    <thead>
      <tr>
        <th style="width: 40%; text-align: right">Learning Objective</th>
        <th>wk 1</th>
        <th>wk 2</th>
        <th>wk 3</th>
        <th>wk 4</th>
        <th>wk 5</th>
        <th style="width: 10%;">Charted</th>
      </tr>
    </thead>
    <% surv.n_questions.times do |x| %>
      <tbody>
        <tr>
            <td style="text-align: right; height: 20px;">
                <%= surv.question(x-1).text %>:
            </td>
            <% vec = surv.question_response_avg_vector(x-1) %>
            <% vec.each do |val| %>
              <td class="data"><%= val != "null" ? val : "n/a" %></td>
              <% end %>

            <td>
                <span class="inlinesparkline">
                    <%= surv.question_response_avg_vector(x-1).join(", ") %>
                </span>
            </td>
        </tr>
      </tbody>
    <% end %>
  </table>

  </div> <!-- /container -->

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../bootstrap/docs/assets/js/bootstrap-transition.js"></script>
  <script src="../bootstrap/docs/assets/js/bootstrap-alert.js"></script>
  <script src="../bootstrap/docs/assets/js/bootstrap-modal.js"></script>
  <script src="../bootstrap/docs/assets/js/bootstrap-dropdown.js"></script>
  <script src="../bootstrap/docs/assets/js/bootstrap-scrollspy.js"></script>
  <script src="../bootstrap/docs/assets/js/bootstrap-tab.js"></script>
  <script src="../bootstrap/docs/assets/js/bootstrap-tooltip.js"></script>
  <script src="../bootstrap/docs/assets/js/bootstrap-popover.js"></script>
  <script src="../bootstrap/docs/assets/js/bootstrap-button.js"></script>
  <script src="../bootstrap/docs/assets/js/bootstrap-collapse.js"></script>
  <script src="../bootstrap/docs/assets/js/bootstrap-carousel.js"></script>
  <script src="../bootstrap/docs/assets/js/bootstrap-typeahead.js"></script>

</body>
</html>
