<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
    "http://www.w3.org/TR/html4/strict.dtd">
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="jquery/jquery.sparkline.min.js"></script>

    <script type="text/javascript">
    $(function() {
        /** This code runs when everything has been loaded on the page */
        /* Inline sparklines take their values from the contents of the tag */
        $('.inlinesparkline').sparkline('html', {type: 'line',
                    width: '60',
                    height: '25',
                    lineColor: '#ff5656',
                    chartRangeMin: 0,
                    chartRangeMax: 5,
                    chartRangeMinX: 0});

        /* Sparklines can also take their values from the first argument 
        passed to the sparkline() function */
        var myvalues = [10,8,5,7,4,4,1];
        $('.dynamicsparkline').sparkline(myvalues);

        /* The second argument gives options such as chart type */
        $('.dynamicbar').sparkline(myvalues, {type: 'bar', barColor: 'green'} );

        /* Use 'html' instead of an array of values to pass options 
        to a sparkline with data in the tag */
        $('.inlinebar').sparkline('html', {type: 'bar', barColor: 'red'} );
    });
    </script>
</head>
<body>
  <% require "./metricalc" %>
  <% surv = SurveyData.new %>
  <% inp = InputData.new %> 
  <% inp.read "/mydev/metricalc/data/weekly4file.csv", surv %>
  <% surv.process %>
<h1>Overall results of the COSI JBS 2012 survey</h1>
<h2>Summary</h2>
<ul>
    <li>Weeks surveyed so far: <%= surv.n_weeks %> </li>
    <li>Number of students: <%= surv.n_students %> </li>
</ul>
<h2>Questions summary:</h2>
<p>All questions have the following possible responses:</p>
<ol>
    <% Response.resp_choices_n.times do |i| %>
        <li><%= Response.choice2string(i)%></li>
    <% end %>
</ol>
<h2>Results Summary</h2>
<p>
Each topic below is followed by a sparkline indicating how the rating for that quesion changes from week to week in the class
</p>
<table style="font-size: 16pt;">
  <% surv.n_questions.times do |x| %>
    <tr>
        <td>
            <span class="inlinesparkline" style="background-color: #eee;">
                <%= surv.question_response_avg_vector(x-1).join(", ") %>
            </span>
        </td>
        <td>
            <%= surv.question(x-1).text %>:
        </td>
    </tr>
  <% end %>
</table>



